* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f5f5dd;
}

h1, h2, h3{
  font-family:'Times New Roman', Times, serif
}

p, li{
  font-family: Arial, Helvetica, sans-serif;
}


h1{
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
  color: #6da041;
}

header{
  margin-top: 0;
}

main {
  margin: auto;
  width: 90%;
  text-align: center;
}

footer {
  font-size: 1.5em;
  text-align: center;
  width: 90%;
  margin: 1em auto;
  margin-top: 2.25em;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #d4f0b1;
  border: 2px solid #88bb44;
  padding: 4px;
}

input[type="search"] {
  float: right;
}

input[type="submit"],
input[type="reset"] {
  background-color: #d4f0b1;
  border: none;
  color: #060804;
  padding: 6px 15px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 1em;
  border-radius: 5px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  padding: 6px 10px;
  border: 2px solid #88bb44;
}

nav.busca {
  background-color: #8b4411;
  height: 2.4em;
  font-size: 1.1em;
  color: #f5f5dd;
  margin: 0;
}

.busca input {
  float: right;
  width: 14vw;
  height: 2.7vh;
  margin-top: 0.8em;
  margin-right: 2em;
}

footer nav {
  margin: auto;
  width: 50%;
  background-color: #d4f0b1;
  border: 2px solid #88bb44;
  text-align: center;
  padding: 1em;
  font-size: large;
  margin-bottom: 1em;
}

header .menu {
  margin: auto;
  width: 45%;
  background-color: #d4f0b1;
  border: 2px solid #88bb44;
  text-align: center;
  padding: 1em;
  font-size: large;
  margin-bottom: 1em;
  margin-top: 1em;
}

a {
  color: #536600;
  margin: 0.5em;
  font-size: 1.2em;
  text-decoration: none;
}

a:hover {
  color: #562706;
}

p {
  width: 65%;
  margin: auto;
  margin-top: 1.5em;
  font-size: 1.3em;
  line-height: 1.6em;
}

li{
  text-align: justify;
  width: 65%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.3em;
  line-height: 1.2em;
}

hr {
  background-color: #88bb44;
  border: 1px solid #88bb44;
  width: 90%;
  margin: auto;
}

header legend {
  width: auto;
  margin: auto;
  text-align: center;
}



/* ID */

#fo h3 {
  margin-bottom: 1em;
  font-size: 1.6em;
}

#fo {
  font-size: 1.2em;
  width: 90%;
  margin: auto;
}

#leia{
  font-size: 1.5em;
  margin: 1em;
}

/*CLASSES*/

.busca p{
  margin: 0.5em 1em;
  float: left;
  font-size: 1em;
}

.titulo {
  width: 90%;
  display: flex;
  text-align: center;
  margin: 2.5em auto;
}

.titulo hr {
  width: 25%;
  margin: auto 0;
  background-color: #88bb44;
  border: 1px solid #88bb44;
}

.titulo .hr2 {
  margin-left: auto;
}

.titulo .hr3 {
  margin-right: auto;
}

.titulo h2 {
  width: 25%;
  padding: 0.3em;
  padding-right: 3em;
  padding-left: 3em;
  font-size: 2.5em;
  background-color: #d4f0b1;
  border: 2px solid #88bb44;
}

.mais img {
  width: 55%;
  align-items: center;
}


.mais a {
  width: 100%;
  font-size: 1.3em;
  margin: auto;
  margin-left: 0;
}

.mais {
  width: 55%;
  display: flex;
  background-color: #d4f0b1;
  border: 2px solid #88bb44;
  margin: 2.5em auto;
  padding: 0.6em;
}

.gandaia {
  width: 90%;
  margin: 4em auto;
  display: flex;
  align-items: center;
}

.referencia {
  width: 25%;
  border: 3px #d4f0b1 solid;
  margin: auto;
}

.referencia img {
  width: 90%;
  margin: 0.8em auto;
}

.referencia li {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 2em;
  width: 70%;
  margin: 1em auto;
}

.referencia:hover {
  border: 3px solid #88bb44;
}

.duvida {
  width: 85%;
  border: 3px solid #88bb44;
}

.duvida hr {
  width: 50%;
  margin: auto;
}

.blue {
  width: 90%;
  margin: 4em auto;
  display: flex;
  align-items: center;
}

.junk {
  width: 35%;
  border: 3px #6da041 solid;
  margin: auto;
}

.junk img {
  width: 82%;
  margin-bottom: 1em;
  margin-top: 1.2em;
}

.junk p {
  width: 90%;
  text-align: center;
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 1em;
}

.duv{
  width: 65%;
  border: 3px #d4f0b1 solid;
  background-color: #d4f0b1;
  margin: 5em auto;
  padding: 0.5em;
}

.duv h3{
  font-size: 1.7em;
  text-align: left;
  margin: 0.6em 0 1em 1.2em;
}

.duv p{
  width: 85%;
  margin: 0 auto;
  margin-top: 1em;
}

.duv:hover{
  border: 3px solid #88bb44;
}
